<% # Set the title attribute for this page
   content_for :title do %>
    Khách hàng
<% end %>

<% # Set the title of content
   content_for :content_header do %>
    <div class="row">
      <div class="col-sm-4">

      </div>

      <div class="col-sm-8">
        <div class="pull-right">
          <button type="button" class="btn btn-default bg-black" data-toggle="modal" data-target="#modal-normal-prospect-form">
            <%= fa_icon 'history' %> Xem change log
          </button>

          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-normal-prospect-form">
            <%= fa_icon 'user-circle' %> Chỉ định người phụ trách
          </button>

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-normal-prospect-form">
            <%= fa_icon 'archive' %> Archive hồ sơ
          </button>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-normal-prospect-form">
            <%= fa_icon 'exchange-alt' %> Tạo hợp đồng
          </button>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-normal-prospect-form">
            <%= fa_icon 'edit' %> Cập nhật hồ sơ
          </button>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= render partial: 'profile_summary' %>
    <%= render partial: 'profile_documents' %>
  </div>

  <div class="col-sm-8">
    <%= render partial: 'staff/partials/dynamic_forms/form' %>
  </div>
</div>