<% # Set the title attribute for this page
   content_for :title do %>
    Khách hàng
<% end %>

<% # Set the title of content
   content_for :content_header do %>
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Tên, số điện thoại, sản phẩm ...">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary">
              <%= fa_icon 'search' %>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-sm-8">
      <div class="pull-right">
        <%= link_to '#', class: 'btn btn-warning btn-lg' do %>
          <%= fa_icon 'upload' %> Nhập từ file CSV
        <% end %>

        <%= link_to new_staff_person_path(type: 'multi'), class: 'btn btn-primary btn-lg' do %>
          <%= fa_icon 'list' %> Prospect nhanh
        <% end %>

        <%= link_to new_staff_person_path(type: 'normal'), class: 'btn btn-primary btn-lg' do %>
          <%= fa_icon 'user-plus' %> Prospect thường
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="box box-success">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped no-margin">
        <thead>
          <tr>
            <th>ID</th>
            <th>Họ và tên lót</th>
            <th>Tên</th>
            <th>Chi nhánh</th>
            <th>Trạng thái</th>
            <th>Người phụ trách</th>
            <th>Sản phẩm</th>
            <th>Ngày khởi tạo</th>
            <th>Cập nhật lần cuối</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @people_steps.each do |person_step| %>
            <tr data-link="<%= staff_person_path(person_step.person, step: person_step.step_id) %>">
              <td><%= person_step.person_id %></td>
              <td><%= person_step.person.last_name %></td>
              <td><%= person_step.person.first_name %></td>
              <td><%= person_step.branch_name %></td>
              <td><%= person_step.person.status.humanize %></td>
              <td><%= person_step.assignee_name %></td>
              <td><%= person_step.product_name %></td>
              <td><%= person_step.created_at %></td>
              <td><%= person_step.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->

  <div class="box-footer clearfix">

  </div><!-- /.box-footer -->
</div><!-- /.box -->
