<% # Set the title attribute for this page
   content_for :title do %>
  Permissions
<% end %>

<% # Set the title of content
   content_for :content_title do %>
  Permissions
<% end %>

<div class="box box-info">
  <div class="box-body">
    <!-- form start -->

    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
        <tr>
          <th></th>
          <% @roles.each do |role| %>
            <th class="text-center"><%= role.name %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>

          <% @permissions.each do |permission| %>
            <tr>
              <th><%= permission.name %></th>
              <% @roles.each do |role| %>
                <td class="text-center">
                  <%= check_box_tag 'roles_permissions[]',
                                    "#{role.id}_#{permission.id}",
                                    role.permissions.include?(permission),
                                    { id: "roles_permissions_#{role.id}_#{permission.id}", class: 'i-check' } %>
                </td>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= form_with url: staff_roles_permissions_path, html: { id: 'form-update-roles-permissions' ,method: 'PATCH' } do |f| %>
      <%= f.hidden_field :initial_roles_permissions_vals, id: :initial_roles_permissions_vals %>
      <%= f.hidden_field :selected_roles_permissions_vals, id: :selected_roles_permissions_vals %>
    <% end %>

    <a id="btn-update-roles-permissions" href="#" class="btn btn-primary btn-flat pull-left">
      Save <%= fa_icon 'check' %>
    </a>
  </div><!-- /.box-footer -->
</div>

<script data-turbolinks-eval="false">
  document.addEventListener('turbolinks:load', () => {
    let rolesPermissionsIndexPage = (function () {
      // Init and get checked values 
      let initialCheckedValues = [];
      let $checkedChkBoxesSelector = "input:checkbox[name='roles_permissions[]']:checked";
      $($checkedChkBoxesSelector).each(function() {
        let $t = $(this);
        initialCheckedValues.push($t.val());
      });
      $('#initial_roles_permissions_vals').val(initialCheckedValues);
      
      // When user want to update permissions, get all checked values
      $("#btn-update-roles-permissions").click(function (e) {
        e.preventDefault();
        let selectedCheckedValues = [];

        $($checkedChkBoxesSelector).each(function() {
          let $t = $(this);
          selectedCheckedValues.push($t.val());
        });

        $('#selected_roles_permissions_vals').val(selectedCheckedValues);
        $('#form-update-roles-permissions').submit();
      });

    })();
  });
</script>
