<%
  additional_active_conditions = {
    users_index: [{ controller_path: 'admin/users', action_name: 'show' }],
    users_new: [{ controller_path: 'admin/users', action_name: 'new' }, { controller_path: 'admin/users', action_name: 'confirm' }],
    monthly_reports_index: [{ controller_path: 'admin/monthly_reports', action_name: 'new' }, { controller_path: 'admin/monthly_reports', action_name: 'confirm' }],
    investments_index: [{ controller_path: 'admin/investments', action_name: 'new' }, { controller_path: 'admin/investments', action_name: 'confirm' }],
    admins_index: [{ controller_path: 'admin/admins', action_name: 'new' }, { controller_path: 'admin/admins', action_name: 'edit' }],
  }
%>

<section class="sidebar">
  <ul class="sidebar-menu">
    <%= nav_link 'Dashboard', staff_dashboard_path, 'tachometer' %>

    <!-- Menu items for only admin -->
    <% if current_staff.has_role?([:admin]) %>
      <li class="header">Organization Management</li>
      <%= nav_link 'Organizations', staff_organizations_path, 'sitemap' %>
      <%= nav_link 'Staffs', staff_staffs_path, 'id-card' %>
      <%= nav_link 'Permissions', staff_permissions_path, 'key' %>
      <%= nav_link 'Roles & Permissions', staff_roles_permissions_path, 'key' %>

      <li class="header">Services Management</li>
      <%= nav_link 'Services', staff_services_path, 'cogs' %>
      <%= nav_link 'Steps', staff_steps_path, 'paw' %>
    <% end %>

    <li class="header">Others</li>
    <li>
      <%= link_to destroy_staff_session_path, method: :delete do %>
        <%= fa_icon 'sign-out' %>Logout
      <% end %>
    </li>
  </ul>
</section><!-- /.sidebar -->