<div class="form-group">
  <label class="control-label col-sm-3">Họ và tên lót</label>
  <div class="col-sm-6">
    <%= text_field_tag('person[first_name]', @person.first_name, class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">Tên</label>
  <div class="col-sm-6">
    <%= text_field_tag('person[last_name]', @person.last_name, class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">SĐT</label>
  <div class="col-sm-6">
    <%= text_field_tag('person[phone]', @person.phone, class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <% field = @dynamic_form.form_fields.detect { |field| field.field_name == 'phone2' } %>
  <label class="control-label col-sm-3"><%= field.display_name %></label>
  <div class="col-sm-6">
    <%= text_field_tag('form_values[' + field.id.to_s + ']', '', class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">Giới tính</label>
  <div class="col-sm-6">
    <%= select_tag('person[gender]', options_for_select(Person::GENDER_TYPES, @person.gender), class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">Ngày sinh</label>
  <div class="col-sm-6">
    <%= date_field('customer', 'birthday', { value: @person.birthday, class: 'form-control'}) %>
  </div>
</div>