<% @read_only = action_name == 'show'
   @input_class = @read_only ? 'form-control-plaintext' : 'form-control'
   @is_student_product = @current_step.product.name == 'Student Loan'
%>
<%= form_tag(staff_person_path(@person), {role: 'form', method: 'put', class: 'form-horizontal'}) do %>
  <!--Hidden field for sending necessary params to server -->
  <%= hidden_field_tag 'object_id', @person.id %>
  <%= hidden_field_tag 'step', @current_step.id %>

  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#personal_info_tab" data-toggle="tab">CÁ NHÂN</a></li>
      <li><a href="#study_business_info_tab" data-toggle="tab">HỌC TẬP</a></li>
      <li><a href="#finance_info_tab" data-toggle="tab">TÀI CHÍNH</a></li>
      <li><a href="#job_info_tab" data-toggle="tab">VIỆC LÀM</a></li>
      <li><a href="#reference_info_tab" data-toggle="tab">THAM CHIẾU</a></li>
    </ul>
    <div class="tab-content">

      <!-- PERSONAL TAB
      ============================================= -->
      <div class="tab-pane active" id="personal_info_tab">
        <%= render partial: 'staff/partials/dynamic_forms/personal_info' %>
      </div>

      <!-- STUDY TAB
      ============================================= -->
      <div class="tab-pane" id="study_business_info_tab">
        <%= if @is_student_product
          render partial: 'staff/partials/dynamic_forms/study_info'
        else
          'AHIHI'
        end %>
      </div>

      <!-- FINANCE TAB
      ============================================= -->
      <div class="tab-pane" id="finance_info_tab">
        <h3>FINANCE</h3>
      </div>

      <!-- JOB TAB
      ============================================= -->
      <div class="tab-pane" id="job_info_tab">
        <h3>JOB</h3>
      </div>

      <!-- REFERENCE TAB
      ============================================= -->
      <div class="tab-pane" id="reference_info_tab">
        <h3>REFERENCE</h3>
      </div>

    </div><!-- /.tab-content -->
  </div><!-- nav-tabs-custom -->
<% end %>