<% # Set the title attribute for this page
   content_for :title do %>
    Customers
<% end %>

<% # Set the title of content
   content_for :content_title do %>
    Customers
<% end %>

<div class="box box-info">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped no-margin">
        <thead>
          <tr>
            <th>ID</th>
            <th>Họ và tên lót</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Giới tính</th>
            <th>Sản phẩm</th>
            <th>Chi nhánh</th>
            <th>Trạng thái</th>
            <th>Người phụ trách</th>
            <th>Ngày khởi tạo</th>
            <th>Cập nhật lần cuối</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.last_name %></td>
              <td><%= customer.first_name %></td>
              <td><%= customer.phone %></td>
              <td><%= customer.gender_name %></td>
              <td><%= customer.product_name %></td>
              <td><%= customer.branch_name %></td>
              <td><%= customer.status.humanize %></td>
              <td><%= customer.assignee_name %></td>
              <td><%= customer.created_at %></td>
              <td><%= customer.updated_at %></td>
              <td>
                <%= link_to edit_staff_customer_path(customer), class: 'btn btn-xs btn-flat bg-orange' do %>
                  <%= fa_icon 'edit' %> Edit
                <% end %>
                <% if customer.deleted? %>
                  <%= link_to staff_customer_path(customer), method: :delete, class: 'btn btn-xs btn-flat bg-green', data: { confirm: 'Are you sure?' } do %>
                    <%= fa_icon 'recycle' %> Restore
                  <% end %>
                <% else %>
                  <%= link_to staff_customer_path(customer), method: :delete, class: 'btn btn-xs btn-flat bg-red', data: { confirm: 'Are you sure?' } do %>
                    <%= fa_icon 'trash' %> Delete
                  <% end %>
                <% end %>
              </td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->

  <div class="box-footer clearfix">
    <%= link_to new_staff_customer_path, class: 'btn btn-primary btn-flat pull-left' do %>
      <%= fa_icon 'plus' %> Prospect thường
    <% end %>
  </div><!-- /.box-footer -->
</div><!-- /.box -->
