<div class="container">
  <div class="row">
    <%= form_for [:staff, @staff] do |f| %>
      <% if @staff.errors.any? %>
        <% @staff.errors.full_messages.each do |msg| %>
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg %>
          </div>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :mobile_phone %>
        <%= f.text_field :mobile_phone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :role %>
        <% @roles.each do |role| %>
          <div class="checkbox">
            <label>
              <%= f.check_box :role_ids, { multiple: true }, role.id, nil %>
              <%= role.name %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :organization %>
        <%= f.collection_select :organization_id, Organization.all, :id, :name, prompt: 'Select', class: 'form-control' %>
      </div>

      <%= link_to 'Back', staff_staffs_path, class: 'btn btn-default btn-flat' %>
      <%= f.submit class: 'btn btn-primary btn-flat' %>
    <% end %>
  </div>
</div>
