<%- excluded_keys = ['encrypted_password', 'reset_password_token'] %>
<%- attributes = @staff.attributes.reject { |k, v| excluded_keys.include?(k) } %>
<%- klass = @staff.class %>

<h3>Staff</h3>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Attribute</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <% attributes.each do |key, value| %>
          <tr>
            <td>
              <strong>
                <%= klass.human_attribute_name(key) %>
              </strong>
            </td>
            <td><%= value %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%= link_to 'Back', staff_staffs_path %>
            <%= link_to 'Edit', edit_staff_staff_path(@staff) %>
            <% if @staff.deleted? %>
              <%= link_to 'Recover', staff_staff_path(@staff), method: :delete %>
            <% else %>
              <%= link_to 'Delete', staff_staff_path(@staff), method: :delete %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>