<% if send("#{@role_slug}_staff_signed_in?") %>
  <li><%= link_to 'Edit account', send("edit_#{@role_slug}_staff_registration_path") %></li>
  <li><%= link_to 'Sign out', send("destroy_#{@role_slug}_staff_session_path"), :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', send("new_#{@role_slug}_staff_session_path") %></li>
  <li><%= link_to 'Sign up', send("new_#{@role_slug}_staff_registration_path") %></li>
<% end %>
<% if send("#{@role_slug}_staff_signed_in?") %>
  <li><%= link_to 'Staffs', send("#{@role_slug}_staffs_path") %></li>
<% end %>
